/* line 5, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../scss/style.scss */
html {
  font-family: helvetica;
  background-color: #e7fd00;
}

/* line 12, ../scss/style.scss */
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
@media (max-width: 599px) {
  /* line 12, ../scss/style.scss */
  body {
    height: auto;
  }
}

/* line 20, ../scss/style.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 25, ../scss/style.scss */
.full {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  white-space: nowrap;
}
@media (max-width: 599px) {
  /* line 25, ../scss/style.scss */
  .full {
    padding: 10px;
  }
}

/* line 37, ../scss/style.scss */
.half {
  width: 50%;
  min-width: 300px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
}
@media (max-width: 599px) {
  /* line 37, ../scss/style.scss */
  .half {
    display: block;
    width: 100%;
    min-width: 0px;
    padding: 10px;
  }
}

/* line 56, ../scss/style.scss */
header {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  /* line 56, ../scss/style.scss */
  header {
    margin-bottom: 10px;
  }
}

/* line 62, ../scss/style.scss */
#title, #location, #insta, #radio, #current, #nav, #period {
  font-family: helvetica;
  font-size: 28px;
  line-height: 36px;
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  /* line 62, ../scss/style.scss */
  #title, #location, #insta, #radio, #current, #nav, #period {
    font-size: 24px;
    line-height: 33px;
  }
}

/* line 66, ../scss/style.scss */
#radio {
  background-color: #fff;
}
/* line 68, ../scss/style.scss */
#radio #controls {
  color: #e70000;
}

@media (max-width: 599px) {
  /* line 73, ../scss/style.scss */
  #radio {
    display: flex;
    flex-flow: row;
  }
  /* line 76, ../scss/style.scss */
  #radio #controls {
    flex: 2;
  }
  /* line 79, ../scss/style.scss */
  #radio #current {
    flex: 3;
    text-align: right;
  }
}
/* line 86, ../scss/style.scss */
#main-content {
  flex: 2;
  padding: 0px;
}
/* line 89, ../scss/style.scss */
#main-content #nav {
  padding-top: 60px;
  padding-left: 20px;
}
@media (max-width: 599px) {
  /* line 89, ../scss/style.scss */
  #main-content #nav {
    padding-top: 20px;
  }
}
/* line 95, ../scss/style.scss */
#main-content #nav .nav-item-wrap {
  margin-bottom: 5px;
  padding-bottom: 3px;
}
/* line 98, ../scss/style.scss */
#main-content #nav .nav-item-wrap .nav-item {
  display: inline-block;
  cursor: pointer;
}
/* line 101, ../scss/style.scss */
#main-content #nav .nav-item-wrap .nav-item span {
  border-bottom: 2px solid none;
}
/* line 106, ../scss/style.scss */
#main-content #nav .nav-item-wrap .nav-item.selected span {
  border-bottom: 2px solid #000;
}
/* line 112, ../scss/style.scss */
#main-content #content {
  height: 100%;
  width: Calc(50% + 15px);
  padding: 0px;
  overflow-y: scroll;
}
@media (max-width: 599px) {
  /* line 112, ../scss/style.scss */
  #main-content #content {
    height: auto;
    width: 100%;
    padding: 20px;
    padding-top: 10px;
  }
}
/* line 123, ../scss/style.scss */
#main-content #content .scroll {
  display: none;
  width: Calc(100% - 35px);
  height: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow: hidden;
}
@media (max-width: 599px) {
  /* line 123, ../scss/style.scss */
  #main-content #content .scroll {
    padding-top: 0px;
    width: 100%;
  }
}
/* line 135, ../scss/style.scss */
#main-content #content .scroll.show {
  display: block;
}

/* line 142, ../scss/style.scss */
#about p {
  width: 100%;
  margin-bottom: 24px;
  white-space: normal;
  font-family: helvetica;
  font-size: 28px;
  line-height: 33px;
}
@media (max-width: 599px) {
  /* line 142, ../scss/style.scss */
  #about p {
    font-size: 24px;
    line-height: 28px;
  }
}

/* line 151, ../scss/style.scss */
#program .block {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  border-bottom: 2px solid #000;
}
/* line 157, ../scss/style.scss */
#program .block .time {
  font-family: helvetica;
  font-size: 28px;
  line-height: 33px;
}
@media (max-width: 599px) {
  /* line 157, ../scss/style.scss */
  #program .block .time {
    font-size: 24px;
    line-height: 28px;
  }
}
/* line 160, ../scss/style.scss */
#program .block .title {
  padding-left: 20px;
  font-family: helvetica;
  font-size: 28px;
  line-height: 36px;
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 599px) {
  /* line 160, ../scss/style.scss */
  #program .block .title {
    font-size: 24px;
    line-height: 33px;
  }
}
/* line 165, ../scss/style.scss */
#program .block:first-of-type {
  padding-top: 0px;
}
