@font-face {
    font-family: 'HelveticaNeueLTPro-Roman';
    src: url('../fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTPro-Roman.svg#HelveticaNeueLTPro-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTPro-It';
    src: url('../fonts/HelveticaNeueLTPro-It.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTPro-It.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-It.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTPro-It.svg#HelveticaNeueLTPro-It') format('svg');
    font-weight: normal;
    font-style: normal;
}

