$red: rgb(231,0,0);
$base-spacing-unit: 20px;

@import '_reset.scss';
@import '_fonts.scss';
@import '_mixins.scss';

html {
	font-family: helvetica;
	background-color: rgb(231,253,0);
}
body {
	display: flex;
	flex-flow: column;
	height: 100vh;
	@include for-phone-only {
		height: auto;
	}
}
a {
	color: #000;
	text-decoration: none;
}

.full {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	padding: space(1);
	white-space: nowrap;
	@include for-phone-only {
		padding: 10px;
	}
}
.half {
	width: 50%;
	min-width: 300px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	overflow: hidden;
	@include for-phone-only {
		display: block;
		width: 100%;
		min-width: 0px;
		padding: 10px;
	}
}


// STYLES //

header {
	margin-bottom: space(2);
	@include for-phone-only {
		margin-bottom: 10px;
	}
}
#title, #location, #insta, #radio, #current, #nav, #period {
	@include title-text; 
}

#radio {
	background-color: #fff;
	#controls {
		color: $red;
	}
}
@include for-phone-only {
	#radio {
		display: flex;
		flex-flow: row;
		#controls {
			flex: 2;
		}
		#current{
			flex: 3;
			text-align: right;
		}
	}
}

#main-content {
	flex: 2;
	padding: 0px;
	#nav {
		padding-top: 60px;
		padding-left: space(1);
		@include for-phone-only {
			padding-top: 20px;
		}
		.nav-item-wrap {
			margin-bottom: 5px;
			padding-bottom: 3px;
			.nav-item {
				display: inline-block;
				cursor: pointer;
				span {
					border-bottom: 2px solid none;
				}
			}
			.nav-item.selected {
				span {
					border-bottom: 2px solid #000;
				}
			}
		}
	}
	#content {
		height: 100%;
		width: Calc(50% + 15px);
		padding: 0px;
		overflow-y: scroll; 
		@include for-phone-only {
			height: auto;
			width: 100%;
			padding: space(1);
			padding-top: 10px;
		}
		.scroll {
			display: none;
			width: Calc(100% - 35px);
			height: auto;
			padding-top: space(3);
			padding-bottom: space(2);
			overflow: hidden;
			@include for-phone-only {
				padding-top: 0px;
				width: 100%;
			}
		}
		.scroll.show {
			display: block;
		}
	}
}

#about {
	p {
		width: 100%;
		margin-bottom: 24px;
		white-space: normal;
		@include body-text;
	}
}

#program {
	.block {
		position: relative;
		display: block;
		width: 100%;
		padding: 5px 0;
		border-bottom: 2px solid #000;
		.time {
			@include body-text;
		}
		.title {
			padding-left: space(1);
			@include title-text;
		}
	}
	.block:first-of-type {
		padding-top: 0px;
	}
}














